body {
  margin: 0;
  background: linear-gradient( rgb(189, 188, 188), transparent 1px), linear-gradient( 90deg, rgb(163, 200, 255), transparent 1px);
  background-size: 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: grid;
}

.StepsManager {
  width: 500px;
  padding: 20px;
  margin: auto;
}

.StepsForm-control {
  margin-bottom: 25px;
}

.StepsForm {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.StepsForm__group {
  width: 210px;
}

.StepsForm__field {
  padding: 5px;
  margin-top: 10px;
  outline: none;
}

.button {
  padding: 6px 15px;
  border: 1px solid rgb(16, 43, 131);
  background-color: #fff;
  color: rgb(16, 43, 131);
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(16, 43, 131);
  color: #fff;
}

.StepsTable__header {
  padding: 15px 15px 0;
  display: flex;
  justify-content: space-between;
}

.StepsList {
  padding: 15px;
  border: 1px solid rgb(16, 43, 131);
  background-color: #fff;
}

.StepsList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.StepsList__item:first-child {
  margin-top: 0;
}

.StepsListItem__control > .button {
  box-sizing: border-box;
  width: 30px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
}
